<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/bower_components/jquery/dist/jquery.js"></script>
    <script src="js/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script src="js/bower_components/vue/dist/vue.js"></script>
    <script src="js/bower_components/axios/dist/axios.js"></script>

    <title>添加教学楼</title>
</head>
<body>

    <div id="app" class="container">
        
        <div class="panel panel-warning">
              <div class="panel-heading">
                    <h3 class="panel-title">添加教学楼</h3>
              </div>
              <div class="panel-body">
                
                   <div class="input-group">
                       <div class="input-group-addon">名称：</div>
                       <input type="text" class="form-control" v-model="buildingName" >
                       <div class="input-group-addon">经度：</div>
                       <input type="text" class="form-control" v-model="longitude">
                       <div class="input-group-addon">纬度：</div>
                       <input type="text" class="form-control" v-model="latitude" >
                       
                   </div>
                   
              </div>
              <div class="panel-footer">
                  {{msg}}
                <button class="btn btn-warning pull-right" v-on:click="addBuilding">添加</button>
                <br><br>
               
              </div>
        </div>

       <!-- --------------------------------------------------------- -->
       
       <div class="panel panel-warning">
             <div class="panel-heading">
                   <h3 class="panel-title">按名称查询</h3>
             </div>
             <div class="panel-body">
                   
                   <div class="input-group">
                       <div class="input-group-addon">名称</div>
                       <input type="text" class="form-control" v-model="searchKey" >
                       <span class="input-group-btn">
                            <button type="button" class="btn btn-warning" v-on:click="search">查询</button>
                        </span>

                   </div>

                   
                   <table class="table table-bordered table-hover" v-if="searchResult">
                       <thead>
                           <tr>
                               <th>教学楼</th>
                               <th>经度</th>
                               <th>纬度</th>
                               <th></th>
                           </tr>
                       </thead>
                       <tbody>

                           <tr  v-for="(item, index) in searchResult.data" :key="index">
                               <td>{{item.name}}</td>
                               <td>{{item.longitude}}</td>
                               <td>{{item.latitude}}</td>
                               <td><button class="btn btn-danger" :id="index" v-on:click="deleteBuliding" type="button">
                                   删除
                                  </button>

                                  <button class="btn btn-danger" :id="index" v-on:click="modifyBuilding" type="button">
                                    修改
                                   </button>
                               </td>
                           </tr>
                       </tbody>
                   </table>
                   
             </div>
             
            <div class="panel-footer">
                   <div v-if="searchResult">
                       共{{searchResult.totalCount}}条记录，共{{searchResult.totalPage}}页。
                       当前第{{searchResult.currentPage}}页。
                       <button v-on:click="previous" v-if="searchResult.currentPage &gt; 1" class="btn btn-warning" >上一页</button>
                       <button v-on:click="next" v-if="searchResult.currentPage &lt; searchResult.totalPage" class="btn btn-warning">下一页</button>
                   </div>
            </div>
             
             
       </div>
       
       <!--------------------------------------------------------------------> 
       <div class="modal fade"  id="modifyPop" role="dialog" tabindex="-1"><!-- 按ESC消除对话框，要设置tabindex属性 -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                    <h4> 教学楼信息修改</h4>
                </div>
                <div class="modal-body">

                    <div class="input-group">
                        <div class="input-group-addon">名称：</div>
                        <input type="text" class="form-control" v-model="buildingName2" >
                        <div class="input-group-addon">经度：</div>
                        <input type="text" class="form-control" v-model="longitude2">
                        <div class="input-group-addon">纬度：</div>
                        <input type="text" class="form-control" v-model="latitude2" >
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-danger" data-dismiss="modal" v-on:click="saveBuilding">保存</button>
                </div>
            </div>
        </div>
    </div>

    </div>
    
    <script>
       var app = new Vue({
           el:'#app',
           data() {
               return {
                   msg:"",
                   buildingName:null,
                   longitude:null,
                   latitude:null,
                   searchKey:"",
                   id2:"",
                   buildingName2:null,
                   longitude2:null,
                   latitude2:null,
                   currentModifyIndex:0,
                   searchResult:null
               }
           },
           methods: {
            addBuilding(){
      
                axios.post("/addBuilding.do","name="+this.buildingName+"&longitude="+this.longitude+"&latitude="+this.latitude)
                .then(res => {
                    console.log(res)
                    this.msg=res.data.result;
                })
                .catch(err => {
                    this.msg=res.data.result;
                    console.error(err); 
                })
             },
             search(){

                 axios.post("/searchBuilding.do","name="+this.searchKey)
                 .then(res => {
                     console.log(res)
                     if(res.data){
                        this.searchResult=res.data;
                     }
                     
                 })
                 .catch(err => {
                     console.error(err); 
                 })
             },
             previous(){
                axios.post("/searchBuilding.do","name="+this.searchKey+"&page="+(this.searchResult.currentPage-1))
                 .then(res => {
                     console.log(res)
                     if(res.data){
                        this.searchResult=res.data;
                     }
                     
                 })
                 .catch(err => {
                     console.error(err); 
                 })
             },
             next(){
                axios.post("/searchBuilding.do","name="+this.searchKey+"&page="+(this.searchResult.currentPage+1))
                 .then(res => {
                     console.log(res)
                     if(res.data){
                        this.searchResult=res.data;
                     }
                     
                 })
                 .catch(err => {
                     console.error(err); 
                 })
             },
             deleteBuliding(evt){
               var index = evt.target.id;
               var id = this.searchResult.data[index].id;
               axios.post("\delBuilding.do","id="+id+"&name="+this.searchKey+"&page="+(this.searchResult.currentPage))
               .then(res => {
                   this.searchResult = res.data;
                   
               })
              
               
             },
             modifyBuilding(evt){

                var index = evt.target.id;
                this.currentModifyIndex = index;
                var item = this.searchResult.data[index];
                this.id2 = item.id;
                this.buildingName2 = item.name;
                this.latitude2 = item.latitude;
                this.longitude2 = item.longitude;

                $('#modifyPop').modal('show');
             },

             saveBuilding(){
                 axios.post("/saveBuilding.do","ID="+this.id2+"&name="+this.buildingName2+"&latitude="+this.latitude2+"&longitude="+this.longitude2)
                 .then(res => {
                     if(res.data.result=="success"){
                         var item = this.searchResult.data[this.currentModifyIndex];
                         item.name = this.buildingName2;
                         item.latitude = this.latitude2;
                         item.longitude = this.longitude2;
                     }
                 })
                 .catch(err => {
                     console.error(err); 
                     alert(err);
                 })
             }
           }
          
       });


    </script>



</body>
</html>