<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>排课</title>
    <script src="js/bower_components/jquery/dist/jquery.js"></script>
    <script src="js/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script src="js/bower_components/vue/dist/vue.js"></script>
    <script src="js/bower_components/axios/dist/axios.js"></script>
</head>
<body>
    
    <div class="container" id="app">
        
        
        <div class="panel panel-default">
              <div class="panel-heading">
                    <h3 class="panel-title">排课</h3>
              </div>
              <div class="panel-body">
                 
                    <div class="input-group">
                        <div class="input-group-addon">班级</div>
                        <select type="text" class="form-control" v-model="classID" >
                            <option v-for="(item, index) in classList" :key="index" v-bind:value="item.id" >{{item.className}}</option>
                            
                        </select>

                        <div class="input-group-addon">课程</div>
                        <select type="text" class="form-control" v-model="subjectID" >
                            <option v-for="(item, index) in subjectList" :key="index" v-bind:value="item.id">{{item.name}}</option>
                           
                        </select>

                        <div class="input-group-addon">教室</div>
                        <select type="text" class="form-control" v-model="classRoomID" >
                            <option v-for="(item, index) in classRoomList" :key="index" v-bind:value="item.id">{{item.name}}</option>
                            
                        </select>

                        <div class="input-group-addon">星期</div>
                        <select type="text" class="form-control" v-model="week" >
                            <option v-for="(item, index) in weekList" :key="index" v-bind:value="item.value">{{item.name}}</option>
                           
                        </select>

                        <div class="input-group-addon">时间</div>
                        <select type="text" class="form-control" v-model="timesID" >
                            <option v-for="(item, index) in timesList" :key="index" v-bind:value="item.id">{{item.name}}</option>
                           
                        </select>
                    </div>
                    
              </div>
              <div  class="panel-footer">
                  {{msg}}
                  <button type="button" class="btn btn-default pull-right" v-on:click="applySubject">确定</button>
                  <br><br>
              </div>
        </div>
        

    </div>
    
     <script>
         var app = new Vue({
             el:"#app",
             data(){
                 return{
                     classList:[],
                     subjectList:[],
                     classRoomList:[],
                     timesList:[],
                     classID:null,
                     subjectID:null,
                     classRoomID:null,
                     timesID:null,
                     msg:'',
                     week:0,
                     weekList:[{"name":"星期日", "value":0},{"name":"星期一", "value":1},{"name":"星期二", "value":2} ,
                     {"name":"星期三", "value":3},{"name":"星期四", "value":4},{"name":"星期五", "value":5}]
                 }
             },
             created() {
                 axios.get("/initData")
                 .then(res => {
                     console.log(res)
                     this.classList = res.data.classList;
                     console.log(this.classList);
                     this.subjectList = res.data.subjectList;
                     this.classRoomList = res.data.classRoomList;
                     this.timesList = res.data.timesList;
                 })
                 .catch(err => {
                     console.error(err); 
                 })
             },
             methods: {
                applySubject(){
                    var param="myClass.id="+this.classID+"&classRoom.ID="+this.classRoomID+"&subject.ID="+this.subjectID+"&times.ID="+this.timesID+"&week="+this.week;
                    console.log(param);
                    axios.post("/applySubject",param)
                    .then(res => {
                        console.log(res)
                        if(res.data.result=='success'){
                            this.msg='添加成功'
                        }
                        else{
                            this.msg='添加失败'
                        }
                    })
                    .catch(err => {
                        console.error(err); 
                    })
                }
             },
         })


     </script>

</body>
</html>